@using Foro.Models 

@{ 
    List<Preguntas> hilosMasRespondidos = new PreguntasController().HilosMasRespondidos();
    int contador = 0;
}

@using Foro.Controllers;

<div id="divCategorias">
    <div id="todasCategorias">
        <h2>Categorías</h2>
        <br />
        @foreach (var datosC in new CategoriaController().ListarCategorías())
        {
            <a href="@Url.Action("VerCategoria", "Categoria", new {idCategoria = datosC.idCategoria, categoria = datosC.nombre})" id="enlaceCategorias">
                <div class="filaCategoria">
                    <img src="~/Content/img/@(datosC.imagen).svg" />
                    <div class="datosCategorias">
                        <span class="tituloCategoria">@datosC.nombre</span>
                        <br />
                        <span>@datosC.descripcion</span>
                    </div>
                    <div id="contadorPreguntas">
                        @(new PreguntasController().ContarPreguntas(datosC.idCategoria)) preguntas
                    </div>
                </div>
            </a>
            <hr />
        }
    </div>    
    <div class="otrasCategorias">
        <h3 id="hilosRespondidos">Hilos más respondidos</h3>
        @foreach (var masRespondidos in hilosMasRespondidos)
        {
            if (contador == 5)
            {
                break;
            }
            <div class="filasMasRespodidos">
                <span class="tituloNombrePregunta">
                    @masRespondidos.titulo
                </span>
                <div class="contenidoAdicional">
                    <span>@masRespondidos.Comentarios.Count respuestas</span>
                    <a class="enlaceVerHilo" href="@Url.Action("VerPregunta", "Preguntas", new {idPregunta = masRespondidos.idPregunta})">Ver Hilo >></a>
                </div>
            </div>
            <br />
            contador++;
        }       
        <a id="btnVerMasHilos">VER MAS</a>
    </div>      
</div>
